<article class="card_teacher">
  <div class="person vcard">
    <div class="img_block">
      <img src="{{img}}" alt="{{surname}} {{name}} {{middlename}}" class="img photo">
    </div>
    <div class="full_name n">
      <span class="last_name family-name">{{surname}}</span><br/>
      <span class="first_name "><span class="given-name">{{name}}</span> <span class="additional-name">{{middlename}}</span></span>
      <span class="position">{{position}}</span>
    </div>
  </div>
  {{getCoursesList courses}}
  <ul class="education_list">
    <li class="education_item">
      <span class="item">Образование</span>
      -
      <span class="status">{{status.education}}</span>
    </li>
    <li class="education_item">
      <span class="item">Стаж</span>
      -
      <span class="status">{{status.experience}}</span>
    </li>
    <li class="education_item">
      <span class="item">Форма обучения</span>
      -
      <span class="status">{{status.form}}</span>
    </li>
  </ul>
  <a href="#{{id}}" class="button size_norm">Подробнее</a>
</article>