<article class="card_teacher">
  <div class="person">
    <div class="img_block">
      <img src="{{img}}" alt="{{surname}} {{name}} {{middlename}}" class="img">
    </div>
    <div class="full_name">
      <span class="last_name">{{surname}}</span><br/>
      <span class="first_name">{{name}} {{middlename}}</span>
      <span class="position">{{position}}</span>
    </div>
  </div>
  {{getCoursesList courses}}
  {{!-- <ul class="course_list">
    <li class="course_item">Библиографическое описание. Общие требования и правила составления</li>
    <li class="course_item">Современные инфокоммуникационные технологии. Технологии «ИРБИС»</li>
    <li class="course_item">Культурно-досуговая деятельность библиотек в современных социокультурных условиях</li>
  </ul> --}}
  <ul class="education_list">
    <li class="education_item">
      <span class="item">Образование</span>
      -
      <span class="status">ОМГПУ, ОМГУПС</span>
    </li>
    <li class="education_item">
      <span class="item">Стаж</span>
      -
      <span class="status">7 лет</span>
    </li>
    <li class="education_item">
      <span class="item">Форма обучения</span>
      -
      <span class="status">Онлайн / Оффлайн</span>
    </li>
  </ul>
  <a href="#{{id}}" class="button size_norm">Подробнее</a>
</article>