<header class="component_header">
  <div class="container">
    <a href="/">
      <img class="logo" src="/image/logo.svg" alt="" />
    </a>

    <nav class="menu">
      <a href="/">Образование</a>
      <a href="/">Преподаватели</a>
      <a href="/">Об организации</a>
    </nav>

    <div class="search">
      <img class="icon" src="/image/icons/search.svg" alt="" />
      <input type="text" class="input"/>
    </div>
    
    <button class="button">Войти</button>


    <div class="icons">
      <button class="button-icon laptop-hide">
        <img src="/image/icons/search.svg" alt="" />
      </button>
      <button class="button-icon laptop-hide">
        <img src="/image/icons/logout.svg" alt="" />
      </button>
      <button class="button-icon">
        <img src="/image/icons/menu.svg" alt="" />
      </button>
    </div>
  </div>
</header>
  {{!--<div style="display: flex;">
    {{#each courses}}
      <div style="width: 450px; margin: 20px;">
        <article class="card">
          <header class="header" style="background-image: url({{this.image}})">
            <div class="type">{{this.type}}</div>
            <div class="discount">{{this.discount}}</div>
          </header>
          <section class="description">
            <h1 class="title">{{this.title}}</h1>

            <div class="review">
              <div class="stars">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
              <div class="quantity">
                (<a href="#">{{this.reviews.length}} отзыва</a>)
              </div>
            </div>

            <div class="info">
              <div class="item">
                <div class="icon"></div>
                <div class="text">
                  <strong>Старт</strong>
                  -
                  {{this.start}}
                </div>
              </div>
              <div class="item">
                <div class="icon"></div>
                <div class="text">
                  <strong>Количество часов</strong>
                  -
                  {{this.hours}}
                </div>
              </div>
              <div class="item">
                <div class="icon"></div>
                <div class="text">
                  <strong>Срок обучения</strong>
                  -
                  {{this.term}}
                </div>
              </div>
            </div>

          </section>

          <footer class="footer">
            <span class="price">
              ₽ {{this.price}}
            </span>
            <button class="button size_md">Подробнее</button>
          </footer>
        </article>
      </div>
    {{/each}}

  </div>
  <button class="button size_lg">Првиет</button>
  {{> card_direction}}
  {{> card_teacher}}
</div>
 --}}

