<article class="card_teacher" {{#if categories}} data-filter="{{#each categories}}{{this}} {{/each}}"  {{/if}}>
  <div class="person vcard">
    <div class="img_block">
      {{#if img}}
        <div class="image_bg" style="background-image: url('/image/teacher/{{img}}');"></div>
        <img src="/image/teacher/{{img}}" alt="{{surname}} {{name}} {{middlename}}" class="img photo">
      {{else}}
        <div class="image_bg"></div>
        <img src="" alt="{{surname}} {{name}} {{middlename}}" class="img photo">
      {{/if}}
    </div>
    <div class="full_name n">
      <span class="last_name family-name">{{surname}}</span>
      <span class="first_name "><span class="given-name">{{name}}</span> <span class="additional-name">{{middlename}}</span></span>
    </div>
    
  </div>
  <ul class="education_list">
    <li class="education_item">
      <span class="item">Образование</span>
      -
      <span class="status">{{education}}</span>
    </li>
    <li class="education_item">
      <span class="item">Квалификация</span>
      -
      <span class="status">{{qualification}}</span>
    </li>
    
  </ul>
  <ul class="course_list">
    {{#each course}}
      <a {{#if this.href}} href="/course/{{this.href}}" {{/if}} target="_blank" class="course_item">{{this.title}}</a>
    {{/each}}
  </ul>
  <a href="/teachers/{{id}}" class="button size_norm">Подробнее</a>
</article>