<article class="card_organizer vcard">
  <div class="img_block">
    <img src="/image/oraganizators/{{image}}" alt="{{surname}} {{name}} {{middlename}}" class="photo">
  </div>
  <div class="person">
    <div class="name">
      <span class="surname fn">{{surname}}</span>
      <span class="fullname fn">{{name}} {{middlename}}</span>
    </div>
    <span class="education">{{education}}</span>
    <span class="position title">{{position}}</span>
  </div>
  <div class="contact">
    <div class="phone tel">
      <span class="value">{{phone}}</span>
    </div>
    <div class="email">
      <span class="value">{{email}}</span>
    </div>
  </div>
</article>