<article class="card_review" data-filter="{{type}}">
  <div class="person">
    <div class="img_block">
      {{#if user.img}}
        <div class="image_bg" style="background-image: url('/image/users/{{user.img}}');"></div>
        <img src="/{{user.img}}" alt="" class="img">
      {{else}}
        <div class="image_bg"></div>
        <img src="" alt="" class="img">
      {{/if}}
    </div>
    <div class="full_name">
      <span class="last_name">{{getName user}}</span>

      <span class="position">{{library}}</span>
      {{!-- <span class="position">{{place}}</span> --}}
    </div>
  </div>
  <div class="course">
    <a class="course_item">{{course}}</a>
    {{getStarsReview stars}}
  </div>
  <div class="review">
    <div class="wpra_text">
      <p class="review_text">
        {{text}}
      </p>
    </div>
    <div class="wrapper_togle_show_review">

      <buttun class="toogle_show_review">Развернуть</buttun>
    </div>
  </div>
  <div class="review_status">
    <div class="date">
      <span>{{getDate date}}</span>
    </div>
    <div class="like">
      <div class="icon_review_fire">
        <img src="/image/icons/review_fire.svg" class="icon"/>
      </div>
      <span class="count_like">
        {{likes.length}}
      </span>
    </div>
  </div>
</article>